@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
 --Green-200-lighter: hsl(148, 38%, 91%);
 --Green-600-medium: hsl(169, 82%, 27%);
 --Red: hsl(0, 66%, 54%);
 --White: hsl(0, 0%, 100%);
 --Grey-500-medium: hsl(186, 15%, 59%);
 --Grey-900-darker: hsl(187, 24%, 22%);

 --transition: .2s ease-in;
 --border-radius: .5em;
}

/* width */
::-webkit-scrollbar {
 width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #555;
}

html,
button {
 font-size: medium;
 font-family: "Karla", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-optical-sizing: auto;
 color: var(--Grey-900-darker);
}

html {
 scroll-behavior: smooth;
}

body {
 margin: 0;
 background-color: var(--Grey-500-medium);
 padding: 1em;
 min-height: 90vh;
 display: grid;
 place-content: center;
}

main {
 padding: 1em;
 background-color: var(--White);
 border-radius: var(--border-radius);
}

h1 {
 margin: 0;
 margin-bottom: .6em;
}

p {
 margin: 0;
}

button {
 width: 100%;
 border: none;
 padding: 1em 0;
 font-weight: bold;
 color: var(--Green-200-lighter);
 background-color: var(--Green-600-medium);
 border-radius: var(--border-radius);
 cursor: pointer;
 position: relative;
 display: grid;
 place-content: center;
 transition: background-color var(--transition);
}

button:hover {
 background-color: var(--Grey-900-darker);
}

.submitting button {
 cursor: not-allowed;
}

button svg {
 position: absolute;
 width: 100%;
 height: 100%;
 opacity: 0;
 pointer-events: none;
 transition: opacity var(--transition);
}

.submitting button span {
 opacity: 0;
}

.submitting button svg {
 opacity: 1;
}

#form {
 padding: 1em;
 display: grid;
 gap: 1em;
}

label,
input,
textarea {
 cursor: pointer;
}

.form-field {
 display: grid;
 gap: .6em;
}

.form-field input,
.form-field textarea,
.form-field-radio-container {
 border: 1px solid var(--Grey-500-medium);
 border-radius: var(--border-radius);
 transition: border-color var(--transition);
}

.form-field input:hover,
.form-field textarea:hover,
.form-field-radio-container:hover {
 border-color: var(--Green-600-medium);
}

.form-field input,
.form-field textarea {
 outline: none;
 padding: 1.1em 1em;
 opacity: .8;
 transition: opacity var(--transition);
 color: var(--Grey-900-darker);
}

.form-field textarea {
 min-height: 10em;
}

.form-field input:focus {
 opacity: 1;
}

.form-field-radio-container {
 position: relative;
 padding: .8em;
 display: flex;
 align-items: center;
 gap: .3em;
 color: var(--Grey-900-darker);
}

.form-field-radio-container svg {
 position: absolute;
 color: var(--Grey-500-medium);
 opacity: .5;
 transition: opacity var(--transition), color var(--transition);
}

.form-field-radio-container span {
 padding-left: 2.3em;
}

.form-field-radio-container .radio-checked {
 opacity: 0;
}

.form-field-radio-container:has(input:checked) .radio-unchecked {
 opacity: 0;
}

.form-field-radio-container:hover svg,
.form-field-radio-container:has(input:checked) .radio-checked {
 color: var(--Green-600-medium);
}

.form-field-radio-container:has(input:checked),
.form-field-radio-container:has(input:checked) .radio-checked {
 opacity: 1;
 background-color: var(--Green-200-lighter);
}

.required-field-error-msg {
 opacity: 0;
 height: 0;
 pointer-events: none;
 color: var(--Red);
 font-weight: 600;
 transition: opacity var(--transition), height var(--transition);
}

.invalid input:required:invalid {
 border: 1px solid var(--Red);
}

.invalid .form-field:has(input:required:invalid) .required-field-error-msg,
.invalid .form-field:has(textarea:required:invalid) .required-field-error-msg,
.invalid .consent-container:has(input:required:invalid) .required-field-error-msg {
 opacity: 1;
 height: initial;
}

.invalid .form-field:has(input:required:invalid) input,
.invalid .form-field:has(input:required:invalid) textarea {
 color: var(--Red);
}

.consent-container label {
 display: flex;
 align-items: center;
 cursor: pointer;
 font-weight: bold;
 gap: .4em;
 opacity: .8;
 transition: opacity var(--transition);
}

.consent-container .checkbox-icon-wrapper {
 display: grid;
 border: 1px solid var(--Green-600-medium);
 border-radius: .26em;
}

.consent-container .checkbox-icon-wrapper svg {
 opacity: 0;
 transition: opacity var(--transition);
}

.consent-container p {
 padding-top: .4em;
}

.consent-container label:hover,
.consent-container:has(input:required:valid) label,
.consent-container:has(input:required:valid) .checkbox-icon-wrapper svg {
 opacity: 1;
}

#notification-wrapper,
#notification-wrapper-error {
 position: fixed;
 z-index: 2;
 top: 1em;
 left: 1em;
 right: 1em;
 padding: 1em;
 border-radius: var(--border-radius);
 animation-name: slideInNotification;
 animation-timing-function: ease;
}

@keyframes slideInNotification {
 from {
  top: -6em;
 }

 to {
  top: 1em;
 }
}

@keyframes slideOutNotification {
 from {
  top: 1em;
 }

 to {
  top: -10em;
 }
}

#notification-wrapper {
 color: var(--White);
 background-color: var(--Grey-900-darker);
}

#notification-wrapper-error {
 color: var(--White);
 background-color: var(--Red);
}

#notification-wrapper .row-1,
#notification-wrapper-error .row-1 {
 display: flex;
 align-items: center;
 gap: .2em;
 margin-bottom: .5em;
}

@media screen and (min-width: 900) {

 html,
 button {
  font-size: large;
 }
}

@media screen and (min-width: 1200) {

 html,
 button {
  font-size: larger;
 }
}